/*  
Grösse von Webseite 80%
    Grau Farbe: #efefef
*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(239, 239, 239,0.5);
}

th, td{
    background-color: rgb(239, 239, 239,0.5);
    border: 1px solid #cfcfcf;
}

.container{
    position: relative;
    top:2rem;
    margin: 15rem;
    background-color: white;
}

i{
    position: absolute;
    top: 5rem;
    right: 3rem;
    padding: 1rem;
}

.header{
    position: absolute;
    top: 0;
    left: 0rem;
    right: 0;
    padding: 1rem;
    text-align: left;
    background: #9fc5f8;
    color: white;
    font-size: 25px;
}
.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4rem;
    background-color: #9fc5f8;
    text-align: center;
}

input{
    align-items: center;
}

.tablecenter{
    display: table;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: inline;
    
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #88b9fa;
    border-radius: 1rem;
}